<!doctype html>
%html{:lang => "ja"} 
	%head 
		%meta{:charset => "UTF-8"}/ 
		%title Style
		%link{:rel => "stylesheet", :href => "style.css"}/ 
		%script{:src => "script.js"}
	%body 
		.container
			%a.btn-flat{:href => "#"} test
			%a.btn2{:href => "#"} test
			%button.zuruiBtn btn
			.box 
				%h2 吹き出しtest
				%a{:href => "#"} 閉じる
			.bg-test1
			.bg-test2

			%nav
				%ul
					%li home
					%li about
					%li works
					%li contact
	